<section id="footer" class="section-padding">
    <div class="container-fluid text-center">
        <h3><span>Yummy</span> Days</h3>
        <p class="copyright">© 2018 Developed by Team 25</a>. All rights reserved.</p>
    </div><!-- end container-fluid -->
</section><!-- end footer -->
