<div class="header">
    <div class="fixed-header">
        <div class="container-fluid">
            <div class="header-logo">
                <a href="/"><img src='images/logo.png'></a>
            </div><!-- end header-logo -->
            <div class="header-links">
                <ul class="list-unstyled list-inline">
                    <li class="shopping-cart" id="cart-list">
                      <a href="/shopping-cart" id="shc-side-open">
                        <span>
                          <i class="fa fa-shopping-cart"></i>
                        </span>
                        <span id="cart-qty" class="cart-badge">0</span>
                      </a>
                    </li>
                    <li class="user-link"><a href="#" id="usr-side-open"><span><i class="fa fa-user"></i></span></a></li>
                </ul>
            </div><!-- end header-links -->
        </div><!-- end container-fluid -->
    </div><!-- end fixed-header -->
</div><!-- end header -->
<script src="js/header.js"></script>
