<div class="header">
    <div class="fixed-header" >
        <div class="container-fluid">
          <div class="header-logo">
              <a href="/"><img src='images/Logo.png'></a>
          </div><!-- end header-logo -->
          <div class="header-logo">
            <br/>
              <a href="/"><img src='images/Text.png'></a>
          </div>
        </div><!-- end container-fluid -->
    </div><!-- end fixed-header -->
</div><!-- end header -->
