<div id="user-profile-sidebar" class="user-prf-sidebar">
  <div class="user-prf-sidebar-img text-center">
      <div class="overlay">
          <img src="images/user-profile.jpg" class="img-responsive img-circle" alt="user-profile" />
          <h3></h3>
      </div><!-- end overlay -->
  </div><!-- end user-prf-sidebar-img -->

    <div class="user-prf-sidebar-links">
      <ul class="list-unstyled">
          <li><a href="#"><span><i class="fa fa-user"></i></span>My Profile</a></li>
            <li><a href="#"><span><i class="fa fa-pencil-alt"></i></span>Edit Profile</a></li>
            <li><a href="#" id="logout"><span><i class="fa fa-sign-out-alt"></i></span>Sign Out</a></li>
        </ul>
    </div><!-- end user-prf-sidebar-links -->
</div><!-- end user-profile-sidebar -->
