<!doctype html>
<html>
    <head>
        <title>Checkout</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,800italic,800,700italic,700,600italic,600,400italic,300%7CRoboto+Condensed:400,400i,700,700i%7CGreat+Vibes" rel="stylesheet">

        <!-- Bootstrap Stylesheet -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Font Awesome Stylesheet -->
        <link rel="stylesheet" href="css/fontawesome-all.min.css">

        <!-- Custom Stylesheets -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/orange.css">

        <!--Date-Picker Stylesheet-->
        <link rel="stylesheet" href="css/datepicker.css">
    </head>

    <body class="page-body">

        <!--====== LOADER =====-->
        <div class="loader"></div>

        <!--============== USER-PROFILE-SIDEBAR =============-->
        <div id="user-profile-sidebar" class="user-prf-sidebar">
        	<div class="user-prf-sidebar-img text-center" style="background:url('images/usr-prf-back-restaurant.jpg');
	background-size:cover;">
    			<div class="overlay">
                    <img src="images/user-profile.jpg" class="img-responsive img-circle" alt="user-profile" />
                    <h3>-- James Anderson --</h3>
                </div><!-- end overlay -->
        	</div><!-- end user-prf-sidebar-img -->

            <div class="user-prf-sidebar-links">
            	<ul class="list-unstyled">
                	<li><a href="user-profile.html"><span><i class="fa fa-user"></i></span>My Profile</a></li>
                    <li><a href="edit-profile.html"><span><i class="fa fa-pencil-alt"></i></span>Edit Profile</a></li>
                    <li><a href="forget-password.html"><span><i class="fa fa-question"></i></span>Forget Password</a></li>
                    <li><a href="reset-password.html"><span><i class="fa fa-sync"></i></span>Reset Password</a></li>
                    <li><a href="#"><span><i class="fa fa-sign-out-alt"></i></span>Sign Out</a></li>
                </ul>
            </div><!-- end user-prf-sidebar-links -->
        </div><!-- end user-profile-sidebar -->


        <div class="canvas">
            <div class="overlay-black"></div>

            <!--========= HEADER =========-->
            <div class="header">
                <div class="fixed-header">
                    <div class="container-fluid">
                        <div class="header-logo">
                            <a href="/"><img src='images/trans5_logo.png'></a>
                        </div><!-- end header-logo -->
                        <div class="header-links">
                            <ul class="list-unstyled list-inline">
                                <li class="shopping-cart">
                                  <a href="/shopping-cart" id="shc-side-open">
                                    <span>
                                      <i class="fa fa-shopping-cart"></i>
                                    </span>
                                    <span id="cart-qty" class="cart-badge"><%=data.length%></span>
                                  </a>
                                </li>
                                <li class="user-link"><a href="#" id="usr-side-open"><span><i class="fa fa-user"></i></span></a></li>
                            </ul>
                        </div><!-- end header-links -->
                    </div><!-- end container-fluid -->
                </div><!-- end fixed-header -->
            </div><!-- end header -->
            <script src="js/header.js">
            </script>

            <!--=================== PAGE-WRAPPER ================-->
            <section class="page-wrapper innerpage-section-padding">
                <div id="checkout-page" >
                    <div class="container-fluid">
                        <div class="innerpage-heading text-center">
                            <h3>Your Order</h3>
                            <a href="shopping-cart.html" class="btn btn-orange">View Shopping Cart</a>
                        </div><!-- end innerpage-heading -->

                        <div class="order-list">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="order">
                                        <div class="order-item">
                                            <div class="order-item-info">
                                                <h4><a href="#">Breakfast-3</a></h4>
                                                <p>Lorem ipsum, dolor</p>
                                                <p class="order-item-price"><span>Price : $45</span> , Qty : 1</p>
                                            </div><!-- end order-item-info -->

                                            <div class="order-item-img">
                                                <a href="#"><img src="images/dish-breakfast-3.png" class="img-responsive" alt="order-img" /></a>
                                            </div><!-- end order-img -->
                                        </div><!-- end order-item -->

                                        <div class="total">
                                            <p>1 x $45 = <span>$45</span></p>
                                        </div><!-- end total -->
                                    </div><!-- end order-->
                                </li>

                                <li>
                                    <div class="order">
                                        <div class="order-item">
                                            <div class="order-item-info">
                                                <h4><a href="#">Dinner-4</a></h4>
                                                <p>Lorem ipsum, dolor</p>
                                                <p class="order-item-price"><span>Price : $45</span> , Qty : 1</p>
                                            </div><!-- end order-item-info -->

                                            <div class="order-item-img">
                                                <a href="#"><img src="images/dish-dinner-4.png" class="img-responsive" alt="order-img" /></a>
                                            </div><!-- end order-img -->
                                        </div><!-- end order-item -->

                                        <div class="total">
                                            <p>1 x $45 = <span>$45</span></p>
                                        </div><!-- end total -->
                                    </div><!-- end order-->
                                </li>
                            </ul>
                            <div class="cart-info text-center">
                                <h4>Total Price: <span>$90</span></h4>
                            </div><!-- end cart-info -->
                        </div>

                        <form class="custom-form">
                            <h4>Fill in the form:</h4>
                            <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Name"  required/>
                            </div>

                            <div class="form-group">
                                 <input type="email" class="form-control" placeholder="Email"  required/>
                            </div>

                            <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Phone"  required/>
                            </div>

                            <div class="form-group">
                                 <select class="form-control">
                                    <option selected>Choose Payment</option>
                                    <option>VISA</option>
                                    <option>Credit Card</option>
                                    <option>Paypal</option>
                                 </select>
                            </div>

                            <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Card Number"  required/>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6">
                                    <div class="form-group">
                                         <input type="text" class="form-control dpd" placeholder="Expire Date"  required/>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6">
                                    <div class="form-group">
                                         <input type="text" class="form-control" placeholder="CVV Code"  required/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" rows="5" placeholder="Additional Message"></textarea>
                            </div>

                            <div class="form-group">
                                <label><input type="checkbox">I agree that i have read and accepted the <a href="#">terms & conditions</a></label>
                            </div>

                            <button class="btn btn-orange btn-radius">Submit</button>
                        </form>
                    </div><!-- end container-fluid -->
                </div><!-- end checkout-page -->
            </section><!-- end page-wrapper -->


            <!--=============== FOOTER ===============-->
            <%- include partials/footer.ejs %>

        </div><!-- end canvas -->


   		<!-- Page Scripts Starts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/custom-navigation.js"></script>
        <!-- Page Scripts Ends -->

    </body>
</html>
