<!doctype html>
<html>
    <head>
        <title>Yummy Error</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,800italic,800,700italic,700,600italic,600,400italic,300%7CRoboto+Condensed:400,400i,700,700i%7CGreat+Vibes" rel="stylesheet">

        <!-- Bootstrap Stylesheet -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Font Awesome Stylesheet -->
        <link rel="stylesheet" href="css/fontawesome-all.min.css">

        <!-- Custom Stylesheets -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/orange.css">
    </head>

    <body class="page-body">

        <!--====== LOADER =====-->
        <div class="loader"></div>
        <div class="canvas">
            <div class="overlay-black"></div>

            <!--========= HEADER =========-->
            <div class="header" style = "height: 11vh;">
                <div class="fixed-header" >
                    <div class="container-fluid">
                      <div class="header-logo">
                          <a href="/"><img src='images/trans5_logo.png'></a>
                      </div><!-- end header-logo -->
                    </div><!-- end container-fluid -->
                </div><!-- end fixed-header -->
            </div><!-- end header -->

            <div class="flexslider" id="slider"style = "height: 74vh;" >
                    <div class="item-1" style="background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/error5.jpg'); background-size:cover;height: 74vh;">
                        <div class="container text-center" style ="padding:10%; margin:auto; height: 74vh; text-align:center">
                          <p style = "color:red;font-size:30px;"><strong>Oh no!</strong> </p>
                          <p style = "font-size:20px">Looks like you were too hungry & took a wrong turn.</p>
                          <br/>
                          <a href="/" class="btn btn-orange">Take a look at our menu</a>
                        </div>
                    </div><!-- end item-1 -->
            </div>
            <!--=============== FOOTER ===============-->
            <%- include partials/footer.ejs %>
        </div><!-- end canvas -->
   		<!-- Page Scripts Starts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/custom-navigation.js"></script>
        <!-- Page Scripts Ends -->
    </body>
</html>
