<!doctype html>
<html>
    <head>
        <title>Yummy Error</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,800italic,800,700italic,700,600italic,600,400italic,300%7CRoboto+Condensed:400,400i,700,700i%7CGreat+Vibes" rel="stylesheet">

        <!-- Bootstrap Stylesheet -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Font Awesome Stylesheet -->
        <link rel="stylesheet" href="css/fontawesome-all.min.css">

        <!-- Custom Stylesheets -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/orange.css">
    </head>

    <body class="page-body">

        <!--====== LOADER =====-->
        <div class="loader"></div>



       <div class="canvas">

            <div class="overlay-black"></div>

            <!--========= HEADER =========-->
            <div class="header">
                <div class="fixed-header">

                    <div class="container-fluid">
                      <div class="header-logo">
                          <a href="/"><img src='images/Logo.svg'></a>
                      </div>
                        <!-- end header-logo -->

                        <div class="header-links">
                            <ul class="list-unstyled list-inline">

                              <!--   <li class="shopping-cart"><a href="javascript:void(0)" id="shc-side-open"><span><i class="fa fa-shopping-cart"></i></span><span class="cart-badge">2</span></a></li>-->
                              <!--  <li class="user-link"><a href="javascript:void(0)" id="usr-side-open"><span><i class="fa fa-user"></i></span></a></li> -->
                              <!--  <li><a href="javascript:void(0)" id="sidenav-open"><span><i class="fa fa-bars"></i></span></a></li> -->
                            </ul>
                        </div><!-- end header-links -->
                    </div><!-- end container-fluid -->
                </div><!-- end fixed-header -->
            </div><!-- end header -->

            <!--=================== PAGE-WRAPPER ================-->
            <!-- <section class="page-wrapper innerpage-section-padding">
                <div id="error-page" >
                    <div class="container-fluid text-center">
                        <h2>4<span>0</span>4<span class="h2-shape"></span></h2>
                        <h4>Oh no! </h4>
                        <p>Looks like you were too hungry and took a wrong turn.</p>
                        <a href="/" class="btn btn-orange">Take a look at our menu</a>-->
                  <!--  </div> --><!-- end container-fluid -->
              <!--  </div>< --> <!-- end error-page -->
          <!--  </section>--><!-- end page-wrapper -->

            <div class="flexslider" id="slider">


                    <div class="item-1" style="background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/error1.jpg'); background-size:cover;">
                        <div class="container text-center meta">
                        <!--  <h2>4<span>0</span>4<span class="h2-shape"></span></h2> -->
                          <h4>Oh no! </h4>
                          <p>Looks like you were too hungry and took a wrong turn.</p>
                          <a href="/" class="btn btn-orange">Take a look at our menu</a>
                        </div>
                    </div><!-- end item-1 -->


            </div>


            <!--=============== FOOTER ===============-->
            <%- include partials/footer.ejs %>

        </div><!-- end canvas -->


   		<!-- Page Scripts Starts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/custom-navigation.js"></script>
        <!-- Page Scripts Ends -->

    </body>
</html>
