<!doctype html>
<html>
    <head>
        <title>Yummy Days</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,800italic,800,700italic,700,600italic,600,400italic,300%7CRoboto+Condensed:400,400i,700,700i%7CGreat+Vibes" rel="stylesheet">

        <!-- Bootstrap Stylesheet -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Font Awesome Stylesheet -->
        <link rel="stylesheet" href="css/fontawesome-all.min.css">

        <!-- Custom Stylesheets -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/orange.css">

        <!-- Flex Slider Stylesheets -->
        <link rel="stylesheet" href="css/flexslider.css">

        <!-- OWL Stylesheets -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">

        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-firestore.js"></script>
        <script src=js/firebase.js></script>
    </head>

    <body class="page-body">

        <!--====== LOADER =====-->
        <div class="loader"></div>


        <!--============ SIDE-NAV =============-->
        <div class="sidenav-content">
            <div id="mySidenav" class="sidenav" >
                <div id="web-name">
                    <h2><span>Yummy</span> Days</h2>
                </div><!-- end web-name -->

                <div id="main-menu">
                    <div class="sidenav-closebtn">
                        <button class="btn btn-default" id="sidenav-close">&times;</button>
                    </div><!-- end sidenav-closebtn -->

                    <div class="list-group panel">

                        <a href="#menu-links" class="list-group-item" data-toggle="collapse" data-parent="#main-menu"><span><i class="fa fa-utensils sidebar-icon"></i></span>Menu<span><i class="fa fa-caret-down arrow"></i></span></a>
                        <div class="collapse sub-menu" id="menu-links">
                            <a href="menu-grid" class="list-group-item">Menu Grid</a>
                        </div><!-- end sub-menu -->

                        <a href="contact" class="list-group-item"><span><i class="fa fa-phone sidebar-icon"></i></span>Contact Us</a>
                        <a href="login" class="list-group-item"><span><i class="fa fa-lock sidebar-icon"></i></span>Login</a>
                        <a href="register" class="list-group-item"><span><i class="fa fa-user-plus sidebar-icon"></i></span>Register</a>
                    </div><!-- end list-group -->
                </div><!-- end main-menu -->
            </div><!-- end mySidenav -->
        </div><!-- end sidenav-content -->

        <!--================ SHOPPING-CART ==============-->
        <div id="shopping-cart-sidebar" class="shc-sidebar">
            <ul class="list-unstyled cart-list">
                <li>
                    <div class="cart-item">
                        <div class="item-text dish-list-text">
                            <h4><a href="#">Breakfast-3</a></h4>
                            <p>Lorem ipsum,dolor</p>
                            <h5>Qty: <input type="number" class="form-control" min="1" value="1"> x $45</h5>
                        </div><!-- end item-text -->

                        <div class="item-img">
                            <a href="#"><img src="images/dish-breakfast-3.jpg" class="img-responsive" alt="cart-item-img" /></a>
                        </div><!-- end item-img -->

                        <h4 class="total">Total: <span>$45</span></h4>

                        <div class="item-close">
                            <button class="btn"><span><i class="fa fa-times-circle"></i></span></button>
                        </div><!-- end item-close -->
                    </div><!-- end cart-item -->
                </li>

                <li>
                    <div class="cart-item">
                        <div class="item-text dish-list-text">
                            <h4><a href="#">Dinner-4</a></h4>
                            <p>Lorem ipsum,dolor</p>
                            <h5>Qty: <input type="number" class="form-control" min="1" value="1"> x $45</h5>
                        </div><!-- end item-text -->

                        <div class="item-img">
                            <a href="#"><img src="images/dish-dinner-4.png" class="img-responsive" alt="cart-item-img" /></a>
                        </div><!-- end item-img -->

                        <h4 class="total">Total: <span>$45</span></h4>

                        <div class="item-close">
                            <button class="btn"><span><i class="fa fa-times-circle"></i></span></button>
                        </div><!-- end item-close -->
                    </div><!-- end cart-item -->
                </li>
            </ul>

            <div class="cart-info text-right">
                <h4>Item(s) : <span>2</span></h4>
                <h4>Total Price: <span>$90.00</span></h4>
                <a href="shopping-cart" class="btn btn-black">View Cart</a>
                <a href="checkout" class="btn btn-orange">Checkout</a>
            </div><!-- end cart-info -->
        </div><!-- shopping-cart-sidebar -->


        <!--============== USER-PROFILE-SIDEBAR =============-->
        <div id="user-profile-sidebar" class="user-prf-sidebar">
        	<div class="user-prf-sidebar-img text-center">
    			    <div class="overlay">
                  <img src="images/user-profile.jpg" class="img-responsive img-circle" alt="user-profile" />
                  <h3></h3>
              </div><!-- end overlay -->
        	</div><!-- end user-prf-sidebar-img -->

            <div class="user-prf-sidebar-links">
            	<ul class="list-unstyled">
                	<li><a href="user-profile"><span><i class="fa fa-user"></i></span>My Profile</a></li>
                    <li><a href="edit-profile"><span><i class="fa fa-pencil-alt"></i></span>Edit Profile</a></li>
                    <li><a href="forget-password"><span><i class="fa fa-question"></i></span>Forget Password</a></li>
                    <li><a href="reset-password"><span><i class="fa fa-sync"></i></span>Reset Password</a></li>
                    <li><a href="#"><span><i class="fa fa-sign-out-alt"></i></span>Sign Out</a></li>
                </ul>
            </div><!-- end user-prf-sidebar-links -->
        </div><!-- end user-profile-sidebar -->


        <div class="canvas">

			<div class="overlay-black"></div>

            <!--========= HEADER =========-->
            <%- include partials/header.ejs %>


            <!--=========== SLIDER ==========-->
            <div class="flexslider" id="slider">
                <ul class="slides">

                    <li class="item-1" style="background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/restaurant-slider-1.jpg'); background-size:cover;">
                        <div class="container text-center meta">
                            <h1>Its Time to Taste</h1>
                        </div>
                    </li><!-- end item-1 -->

                </ul>
            </div><!-- end flexslider -->

            <!--=============== SERVICES ===============-->
            <section id="services" class="section-padding">
                <div class="container-fluid">

                    <div class="owl-carousel owl-theme" id="owl-services">
                        <div class="item">
                            <div class="service-block">
                                <span><i class="fa fa-thumbs-up"></i></span>
                                <h4>Quality Food</h4>
                            </div><!-- end service-block -->
                        </div><!-- end item -->

                        <div class="item">
                            <div class="service-block">
                                <span><i class="fa fa-user"></i></span>
                                <h4>Best Chefs</h4>
                            </div><!-- end service-block -->
                        </div><!-- end item -->

                        <div class="item">
                            <div class="service-block">
                                <span><i class="fa fa-rocket"></i></span>
                                <h4>No waiting time</h4>
                            </div><!-- end service-block -->
                        </div><!-- end item -->

                    </div><!-- end owl-services -->

                </div><!-- end container -->
            </section><!-- end services -->


            <!--============= MENU ============-->
            <section class="menu section-padding">
                <div class="container-fluid text-center">
                    <h3 class="page-heading">Delicious Menu</h3>
                    <hr class="page-heading-line" />
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#breakfast-dishes" data-toggle="tab">Breakfast</a></li>
                        <li><a href="#lunch-dishes" data-toggle="tab">Lunch</a></li>
                        <li><a href="#dinner-dishes" data-toggle="tab">Dinner</a></li>
                    </ul>

                    <div class="tab-content">

                        <div id="breakfast-dishes" class="tab-pane fade in active">
                            <div class="owl-carousel owl-theme owl-menu">
                                <div>
                                    <div class="grid">
                                        <div class="dish-list">
                                            <a href="menu-detail"><img src="images/dish-breakfast-1.jpg" class="img-responsive" alt="dish-menu" /></a>
                                            <div class="dish-list-text">
                                                <h4><a href="menu-detail">Breakfast-1</a></h4>
                                                <h5>$45</h5>
                                                <p>Lorem ipsum, Dolor</p>
                                            </div><!-- end dish-list-text -->
                                        </div><!-- end dish-list -->
                                    </div><!-- end grid -->

                                    <div class="grid">
                                        <div class="dish-list">
                                            <a href="menu-detail"><img src="images/dish-breakfast-2.jpg" class="img-responsive" alt="dish-menu" /></a>
                                            <div class="dish-list-text">
                                                <h4><a href="menu-detail">Breakfast-2</a></h4>
                                                <h5>$45</h5>
                                                <p>Lorem ipsum, Dolor</p>
                                            </div><!-- end dish-list-text -->
                                        </div><!-- end dish-list -->
                                    </div><!-- end grid -->
                                </div>

                                <div>
                                    <div class="grid">
                                        <div class="dish-list">
                                            <a href="menu-detail"><img src="images/dish-breakfast-3.jpg" class="img-responsive" alt="dish-menu" /></a>
                                            <div class="dish-list-text">
                                                <h4><a href="menu-detail">Breakfast-3</a></h4>
                                                <h5>$45</h5>
                                                <p>Lorem ipsum, Dolor</p>
                                            </div><!-- end dish-list-text -->
                                        </div><!-- end dish-list -->
                                    </div><!-- end grid -->

                                    <div class="grid">
                                        <div class="dish-list">
                                            <a href="menu-detail"><img src="images/dish-breakfast-4.jpg" class="img-responsive" alt="dish-menu" /></a>
                                            <div class="dish-list-text">
                                                <h4><a href="menu-detail">Breakfast-4</a></h4>
                                                <h5>$45</h5>
                                                <p>Lorem ipsum, Dolor</p>
                                            </div><!-- end dish-list-text -->
                                        </div><!-- end dish-list -->
                                    </div><!-- end grid -->
                                </div>
                            </div><!-- end owl-menu -->
                        </div><!-- end breakfast-dishes -->

                        <div id="lunch-dishes" class="tab-pane fade">
                            <div class="owl-carousel owl-theme owl-menu">
                                <div>
                                    <div class="grid">
                                        <div class="dish-list">
                                            <a href="menu-detail"><img src="images/dish-lunch-1.jpg" class="img-responsive" alt="dish-menu" /></a>
                                            <div class="dish-list-text">
                                                <h4><a href="menu-detail">Lunch-1</a></h4>
                                                <h5>$45</h5>
                                                <p>Lorem ipsum, Dolor</p>
                                            </div><!-- end dish-list-text -->
                                        </div><!-- end dish-list -->
                                    </div><!-- end grid -->

                                    <div class="grid">
                                        <div class="dish-list">
                                            <a href="menu-detail"><img src="images/dish-lunch-2.jpeg" class="img-responsive" alt="dish-menu" /></a>
                                            <div class="dish-list-text">
                                                <h4><a href="menu-detail">Lunch-2</a></h4>
                                                <h5>$45</h5>
                                                <p>Lorem ipsum, Dolor</p>
                                            </div><!-- end dish-list-text -->
                                        </div><!-- end dish-list -->
                                    </div><!-- end grid -->
                                </div>

                                <div>
                                    <div class="grid">
                                        <div class="dish-list">
                                            <a href="menu-detail"><img src="images/dish-lunch-3.jpeg" class="img-responsive" alt="dish-menu" /></a>
                                            <div class="dish-list-text">
                                                <h4><a href="menu-detail">Lunch-3</a></h4>
                                                <h5>$45</h5>
                                                <p>Lorem ipsum, Dolor</p>
                                            </div><!-- end dish-list-text -->
                                        </div><!-- end dish-list -->
                                    </div><!-- end grid -->

                                    <div class="grid">
                                        <div class="dish-list">
                                            <a href="menu-detail"><img src="images/dish-lunch-4.jpg" class="img-responsive" alt="dish-menu" /></a>
                                            <div class="dish-list-text">
                                                <h4><a href="menu-detail">Lunch-4</a></h4>
                                                <h5>$45</h5>
                                                <p>Lorem ipsum, Dolor</p>
                                            </div><!-- end dish-list-text -->
                                        </div><!-- end dish-list -->
                                    </div><!-- end grid -->
                                </div>
                            </div><!-- end owl-menu -->
                        </div><!-- end lunch-dishes -->

                        <div id="dinner-dishes" class="tab-pane fade">
                            <div class="owl-carousel owl-theme owl-menu">
                                <div>
                                    <div class="grid">
                                        <div class="dish-list">
                                            <a href="menu-detail"><img src="images/dish-dinner-1.png" class="img-responsive" alt="dish-menu" /></a>
                                            <div class="dish-list-text">
                                                <h4><a href="menu-detail">Dinner-1</a></h4>
                                                <h5>$45</h5>
                                                <p>Lorem ipsum, Dolor</p>
                                            </div><!-- end dish-list-text -->
                                        </div><!-- end dish-list -->
                                    </div><!-- end grid -->

                                    <div class="grid">
                                        <div class="dish-list">
                                            <a href="menu-detail"><img src="images/dish-dinner-2.png" class="img-responsive" alt="dish-menu" /></a>
                                            <div class="dish-list-text">
                                                <h4><a href="menu-detail">Dinner-2</a></h4>
                                                <h5>$45</h5>
                                                <p>Lorem ipsum, Dolor</p>
                                            </div><!-- end dish-list-text -->
                                        </div><!-- end dish-list -->
                                    </div><!-- end grid -->
                                </div>

                                <div>
                                    <div class="grid">
                                        <div class="dish-list">
                                             <a href="menu-detail"><img src="images/dish-dinner-3.png" class="img-responsive" alt="dish-menu" /></a>
                                            <div class="dish-list-text">
                                                <h4><a href="menu-detail">Dinner-3</a></h4>
                                                <h5>$45</h5>
                                                <p>Lorem ipsum, Dolor</p>
                                            </div><!-- end dish-list-text -->
                                        </div><!-- end dish-list -->
                                    </div><!-- end grid -->

                                    <div class="grid">
                                        <div class="dish-list">
                                             <a href="menu-detail"><img src="images/dish-dinner-4.png" class="img-responsive" alt="dish-menu" /></a>
                                            <div class="dish-list-text">
                                                <h4><a href="menu-detail">Dinner-4</a></h4>
                                                <h5>$45</h5>
                                                <p>Lorem ipsum, Dolor</p>
                                            </div><!-- end dish-list-text -->
                                        </div><!-- end dish-list -->
                                    </div><!-- end grid -->
                                </div>
                            </div><!-- end owl-menu -->
                        </div><!-- end dinner-dishes -->

                    </div><!-- end tab-content -->
                </div><!-- end container-fluid -->
            </section><!-- end menu -->


            <!--=============== TESTIMONIAL ===============-->
            <section id="testimonial" class="section-padding text-white">
                <div class="container-fluid">
                    <h3 class="page-heading white-heading">Testimonials</h3>
                    <hr class="page-heading-line white-line" />
                    <div class="owl-carousel owl-theme" id="owl-testimonial">

                        <div class="item">
                            <div class="review-block">
                                <div class="reviewer-text">
                                    <ul class="list-unstyled list-inline star-rating">
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                    </ul>

                                    <blockquote> Hits all the marks. Good food, good selection, good service, good value.
                                    <small>Darpit</small>
                                    </blockquote>
                                </div><!-- end reviewer-text -->

                                <div class="reviewer-img">
                                    <img src="images/reviewer-1.jpg" alt="reviewer-image" class="img-circle">
                                </div><!-- end reviewer-img -->
                            </div><!-- end review-block -->
                        </div><!-- end item -->

                        <div class="item">
                            <div class="review-block">
                                <div class="reviewer-text">
                                    <ul class="list-unstyled list-inline star-rating">
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                    </ul>

                                    <blockquote> Love the atmosphere and the food is amazing. Green chili queso fries are a must. We always get them every time we go.
                                    <small>Vijith</small>
                                    </blockquote>
                                </div><!-- end reviewer-text -->

                                <div class="reviewer-img">
                                    <img src="images/reviewer-2.jpeg" alt="reviewer-image" class="img-circle">
                                </div><!-- end reviewer-img -->
                            </div><!-- end review-block -->
                        </div><!-- end item -->

                        <div class="item">
                            <div class="review-block">
                                <div class="reviewer-text">
                                    <ul class="list-unstyled list-inline star-rating">
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                    </ul>

                                    <blockquote> This is my new place!! The burger was fantastic. It's one of the only burgers that haven't made me feel like I ate too much.
                                    <small>Ajay</small>
                                    </blockquote>
                                </div><!-- end reviewer-text -->

                                <div class="reviewer-img">
                                    <img src="images/reviewer-3.jpg" alt="reviewer-image" class="img-circle">
                                </div><!-- end reviewer-img -->
                            </div><!-- end review-block -->
                        </div><!-- end item -->

                        <div class="item">
                            <div class="review-block">
                                <div class="reviewer-text">
                                    <ul class="list-unstyled list-inline star-rating">
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                        <li><span><i class="fa fa-star"></i></span></li>
                                    </ul>

                                    <blockquote> I highly recommend Yummy Days to anyone who lives in the BCS area, because there is no other place like this!
                                    <small>Sudha</small>
                                    </blockquote>
                                </div><!-- end reviewer-text -->

                                <div class="reviewer-img">
                                    <img src="images/reviewer-4.jpg" alt="reviewer-image" class="img-circle">
                                </div><!-- end reviewer-img -->
                            </div><!-- end review-block -->
                        </div><!-- end item -->

                    </div><!-- end owl-testimonial -->
                </div><!-- end container-fluid -->
            </section><!-- end testimonial -->


            <!--=============== FOOTER ===============-->
            <%- include partials/footer.ejs %>
		</div><!-- end canvas -->


   		<!-- Page Scripts Starts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.flexslider.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/custom-navigation.js"></script>
        <script src="js/custom-flex.js"></script>
        <script src="js/custom-owl.js"></script>
        <script src="js/main.js"></script>
        <!-- Page Scripts Ends -->

    </body>
</html>
